<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/match.css">
    <title>Matches</title>
</head>
<body>
    <main>
        <div class="title">
            <h1><a href="/">The Matches</a></h1>
            <a href="/admin/get_matches">AdminLTE</a>
        </div>
        <% if (matches.length > 0) { %>
                <% for(let match of matches){ %>
                    <div class="container">
                        <div class="league">
                            <h2><a href="/get_matches_of_league/<%= match.league %>"><%= match.league %></a></h2>
                        </div>
                        <div class="league">
                            <h3><a href="/get_matches_of_date/<%= match.date %>"><%= match.date %></a></h3>
                        </div>
                        <ul>
                            <li><h3><a href="/get_matches_of_team/<%= match.homeTeam %>" ><%= match.homeTeam %></a></h3></li>
                            <li><h3>VS</h3></li>
                            <li><h3><a href="/get_matches_of_team/<%= match.awayTeam %>"><%= match.awayTeam %></a></h3></li>
                            <li><h3><%= match.homeScore %></h3></li>
                            <li><h3>:</h3></li>
                            <li><h3><%= match.awayScore %></h3></li>
                            <li class="li_left">
                                <% if( new Date(match.date) > new Date(Date.now()) ){%>
                                    <h3>  Will Start  </h3>
                                <% } %>
                                <% if( new Date(match.date) < new Date(Date.now()) ){%>
                                    <h3>  Finished  </h3>
                                <% } %>
                            </li>
                        </ul>
                    </div>
                <% } %>
        <% } else { %>
            <h1>No Matches Found!</h1>
        <% } %>
   </main>
</body>
</html>